body {
    margin: 0;
    background-color: #0b3d0b;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .mesa {
      position: relative;
      width: 1200px;
      height: 700px;
      background: radial-gradient(circle at center, #007700, #004400);
      border: 10px solid #442200;
      border-radius: 0 0 50% 50%;
      overflow: hidden;
      display: flex; 
      flex-direction: column;
  }

  .lado-dealer {
      position: relative;
      width: 100%;
      height: 30%;
  }
  .dealer {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .jugadores {
      position: relative;
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .p {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .carta {
        width: 60px;
        height: 90px;
        background-color: white;
        border: 1px solid black;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px;
        margin: 4px;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      }
      
      .valor-superior, .valor-inferior {
        font-size: 14px;
        color: black;
      }
      
      .palo {
        font-size: 24px;
        text-align: center;
      }